# {{ ansible_managed }}

bindsym {{ wlroots_audio_raise_binding }} exec {{ wlroots_audio_raise_exec }}
bindsym {{ wlroots_audio_lower_binding }} exec {{ wlroots_audio_lower_exec }}
bindsym {{ wlroots_audio_mute_binding }} exec {{ wlroots_audio_mute_exec }}
bindsym {{ wlroots_audio_micmute_binding }} exec {{ wlroots_audio_micmute_exec }}
