# {{ ansible_managed }}

bindsym {{ wlroots_brightness_raise_binding }} exec {{ wlroots_brightness_raise_exec }}
bindsym {{ wlroots_brightness_lower_binding }} exec {{ wlroots_brightness_lower_exec }}
