# {{ ansible_managed }}

bindsym {{ wlroots_screenshot_full_binding }} exec {{ wlroots_screenshot_full_exec }}
bindsym {{ wlroots_screenshot_region_binding }} exec {{ wlroots_screenshot_region_exec }}
