# {{ ansible_managed }}

exec swayidle -w \
          timeout {{ wlroots_screenlock_softlock_time }} '{{ wlroots_screenlock_light_exec }}' \
          timeout {{ wlroots_screenlock_hardlock_time }} 'swaymsg "output * dpms off"' \
          resume 'swaymsg "output * dpms on"' \
          before-sleep '{{ wlroots_screenlock_dark_exec }}'

bindsym {{ wlroots_screenlock_light_binding }} exec {{ wlroots_screenlock_light_exec }}
bindsym {{ wlroots_screenlock_dark_binding }} exec {{ wlroots_screenlock_dark_exec }}
