# {{ ansible_managed }}

bindsym {{ wlroots_media_playpause_binding }} exec {{ wlroots_media_playpause_exec }}
bindsym {{ wlroots_media_next_binding }} exec {{ wlroots_media_next_exec }}
bindsym {{ wlroots_media_previous_binding }} exec {{ wlroots_media_previous_exec }}
