# {{ ansible_managed }}

bindsym {{ wlroots_screenrecord_full_binding }} exec {{ wlroots_screenrecord_full_exec }}
bindsym {{ wlroots_screenrecord_region_binding }} exec {{ wlroots_screenrecord_region_exec }}
bindsym {{ wlroots_screenrecord_stop_binding }} exec {{ wlroots_screenrecord_stop_exec }}
